<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
     <style>
.button {
  background-color: #1a53ff
; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
 width: 250px;
  border: 1px ;
  border-style: solid;
  border-color: #f2d9d9;
  font-family:verdana;
  border-radius: 12px;



}

.button:hover {
  background-color: #000d33
; /* Green */
  color: white;
}
</style>
</head>
<body style="background-color:#e6e6e6;">
<center>

<center>
<img src="https://png.pngtree.com/png-vector/20191031/ourlarge/pngtree-socket-404-error-page-for-desktop-and-mobile-png-image_1928856.jpg" alt="alternatetext">
</center>
<center>
<h1 style="color: red; font-family:verdana">{{msg}}</h1>
<center>
<h3 style="color: #000d33; font-family:verdana">
click here to return to home page</h3>
<button onclick="location.href='http://localhost:8080/'" type="button" class="button" >
        Home Page</button>
        </center>
</body>
</html>
