<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title style="color: #4d1919">Statistics Functions</title>
    <style>
.button {
  background-color: #1a53ff
; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
 width: 250px;
  border: 1px ;
  border-style: solid;
  border-color: #f2d9d9;
  font-family:verdana;
  border-radius: 12px;



}

.button:hover {
  background-color: #000d33
; /* Green */
  color: white;
}

</style>
<h3 style="color: #000d33; font-family:verdana">
to check out other images, click here</h3>

<button onclick="location.href='http://localhost:8080/'" type="button" class="button" >
        Back</button>
        
        <br>
        <br>
        
    <h1 align="center" style="color: #000d33; font-family:verdana";>Statistics for {{IMAGE_FILE_NAME}}</h1>
    
</head>
 <center>
      <img src="https://storage.googleapis.com/seetree-demo-open/{{IMAGE_FILE_NAME}}" alt="{{IMAGE_FILE_NAME}}" width="150" height="150" style="border:3px solid #e6e6e6">
    </center>

        
<body style="background-color:#e6e6e6;">
<hr color="#1a53ff">
<br>



<center>
<button onclick="location.href='http://localhost:8080/stats/{{IMAGE_FILE_NAME}}/min'" type="button" class="button">
         Minimum</button>
<button onclick="location.href='http://localhost:8080/stats/{{IMAGE_FILE_NAME}}/max'" type="button" class="button">
         Maximum</button>
<button onclick="location.href='http://localhost:8080/stats/{{IMAGE_FILE_NAME}}/mean'" type="button" class="button">
         Mean</button>
<button onclick="location.href='http://localhost:8080/stats/{{IMAGE_FILE_NAME}}/median'" type="button" class="button">
         Median</button>
<table  >
    <tr>
    <br>
    <br>
   


<h1  style="color: #000d33; font-family:verdana"
>
please choose desired percentage
</h1>
        <th>

        <th>
            <style>
            input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

</style>
<button  onclick="myFunction()"  type="button" class="button" style="float: right;">
         Percentile</button></th>
<input type="number"  id="myText" value="50" min="0" max="100" class="button"></th>
    </tr>
</table>
<script>
function myFunction() {
   location.href = 'http://localhost:8080/stats/{{IMAGE_FILE_NAME}}/p' + document.getElementById("myText").value;
}
</script>


<h1 align="center">
{{value}}
</h1>

</center>
<hr color="#1a53ff">
<br>


</body>
</html>
